version: '3.8'

services:
  mongodb:
    image: mongo:7.0 
    container_name: biblioteca-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: biblioteca
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    networks:
      - biblioteca-network

volumes:
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local

networks:
  biblioteca-network:
    driver: bridge
